Pillow==10.1.0
requests==2.31.0
pynput==1.7.6
psutil==5.9.6
python-dotenv==1.0.0
pyinstaller==6.3.0
hypothesis==6.92.1
pytest==7.4.3
pywin32==306; platform_system=="Windows"
pywinauto==0.6.8; platform_system=="Windows"
lz4==4.3.2
geocoder==1.38.1
watchdog==3.0.0
